@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body { 
    height: 100%;
    background-color: #f8f9fa;
  }
 
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main {
    flex: 1;
  }

  footer{
      background-color: #333;
      padding: 1rem;
      color: #fff;
  }

  a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

p{
  text-align: justify;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: #fff;
}

.fa-youtube {
  background: #bb0000;
  color: #fff;
}

.fa-instagram {
  background: #125688;
  color: #fff;
}

.fa-github{
  background-color: #010409;
  color: #fff;
}

.my-button{
  background-color: #023047; /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:8px;
}