@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html,
body {
  height: 100%;
  background-color: #f8f9fa;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}

footer {
  background-color: #333;
  padding: 1rem;
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

p {
  text-align: justify;
}

.my-button {
  background-color: #023047; /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 3rem;
  height: 3rem;
}
