nav a {
    font-family: 'Orbitron', sans-serif;
}

.nav-item a {
    color: #fff !important;
}

.nav-link:hover {
    color: #FBA223 !important;
    font-size: 40px;
}

.navbar-nav {
    font-size: 25px;
}